<html>
    <head>
        <title>
            {{ metadata.title }}
        </title>
    </head>
    <body>
        <nav>
            <!-- {{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }} -->
            {% set navPages = collections.all | eleventyNavigation %}
            <ul>
            {%- for entry in navPages %}
              <li{% if entry.url == page.url %} class="my-active-class"{% endif %}>
                <a href="{{ entry.url | url }}">{{ entry.title }}</a>
              </li>
            {%- endfor %}
            </ul>
        </nav>

        <!-- this is working -->
        <main>
            <h1>{{ title }}</h1>
            <p>
                {{ content | safe }}
            </p>
            <hr>
            <p>for testing purposes</p>
            <ul>
            {%- for post in collections.all -%}
              <li><a href="{{ post.url }}">{{ post.url }}</a></li>
            {%- endfor -%}
            </ul>
        </main>
    </body>
</html>

<!-- 
remember that non index pages w/out permalinks will be created in a sub-directory
this is fine, just watch out for it
 -->

         